.section4 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section4 .title {
  text-align: center;
  font-size: 50px;
  color: #0f0f0f;
  font-family: circular-std-bold;
  padding-bottom: 30px;
}

.section4 .title .tagLine {
  font-family: circular-std-light;
  font-size: 35px;
  font-weight: 500;
  color: rgb(23, 23, 23);
}

.section4 .card2 {
  background-color: #ffffff;
}

.text1,
.text2 {
  color: #0f0f0e;
  /* font-size: 20px; */
  font-family: circular-std-bold;
}

@media (max-width: 435px) {
  .section4 .title .tagLine {
    font-size: 26px;
    font-family: circular-std-medium;
  }
}
