.card1 button {
  background-color: #ffc91f;
  padding: 10px 10px;
  /* width: 16%; */
  border-radius: 8px;
  color: #0f0f02;
  font-size: 19px;
  font-family: circular-std-medium;
}

.card1 .popOverCloseBtn {
  font-size: 10px;
  padding: 10px 20px 10px 20px;
}

.card1 .popOverHeader {
  font-size: 18px;
  font-family: circular-std-bold;
}

.card1 .popOverBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #0f0f0e;
  /* font-weight: 600; */
  font-family: circular-std-medium;
}

.card1 .copyButton {
  padding: 2px 9px 2px 9px;
}
